In [1]:
import pandas as pd

In [2]:
list = [['dongwook',50,86],['abc',89,31],['ikjoong',68,91],['yoonsoo',88,75]]

In [7]:
my_df = pd.DataFrame(list)
my_df

          0   1   2
0  dongwook  50  86
1       abc  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [ ]:
type(my_df)

In [10]:
my_df = pd.DataFrame(list, columns = ['name','b','c'], index = ['1','2','3','4'])
my_df

       name   b   c
1  dongwook  50  86
2       abc  89  31
3   ikjoong  68  91
4   yoonsoo  88  75

In [11]:
my_df.index

Index(['1', '2', '3', '4'], dtype='object')

In [12]:
my_df.dtypes

name    object
b        int64
c        int64
dtype: object

In [14]:
pd.read_csv('Downloads\iphone.csv')

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

csv 파일에 헤더가 없는 경우는,  pd.read_csv('Downloads\iphone.csv'.**header=None**) 이라고 남겨줘야 한다
pd.read_csv('Downloads\iphone.csv'.**index_col=0**) 이라고 쓰면 가장 왼쪽 column이 index로 표기된다능